*{
    margin: 0;
    padding: 0;
}
nav{
    width: 100%;
    height: 60px;
    background-color: aquamarine;
    position: sticky;
    z-index: 3444;
    top: 0;
}
ul{
    padding: 10px;
    list-style: none;
    display: flex;
            
}
li{
    padding: 5px;
    font-size: 25px;
}
.bg-div{
    background-color: blueviolet;
    height: 92vh;
    width: 100%;
    display: flex;
    position: relative;
    
    
}
.content-div1{
    
    position: absolute;
    width: 40vw;
    height: 82vh;
    background-color: chocolate;
    top: 5vh;
    left: 6vw;

    /* left: 6vw; */

}
.content-div2{
    position: absolute;

    width: 40vw;
    height: 82vh;
    background-color: rgb(30, 210, 39);
    top: 5vh;
    right: 6vw;

}
.card{
    border: 2px solid black;
    margin: 6vw;
    height: 12vh;
    font-size: 35px;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding: 15px;
    text-align: center;
}
.fabdiv{
    
    position: fixed;
    bottom: 5vh;
    right: 4vw;
    border: 1px solid rgb(112, 108, 108);
    border-radius: 20px;
    background-color: rgba(255, 191, 191, 0.938);
    box-shadow: 1px 1px 1px black ;
}
footer{
    width: 100%;
    height: 30vh;
    /* padding: 15px; */
    font-size: 35px;
    background-color: aquamarine;
    text-align: center;

}